<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Store GG | Create - Category</title>

        <%- include ../../partials/header.ejs %>
    </head>
    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">
            <%- include ../../partials/navbar.ejs %> <%- include ../../partials/sidebar.ejs %>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>Nominals</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                                    <li class="breadcrumb-item"><a href="/nominal">Nominals</a></li>
                                    <li class="breadcrumb-item active">Create</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Form Create Nominal</h3>
                                    </div>
                                    <!-- /.card-header -->

                                    <%- include('../../partials/form_validation.ejs') %>

                                    <form action="/nominal/create" method="post">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label>Coin Name <span class="text-danger">*</span></label>
                                                <select
                                                    name="coinName"
                                                    class="form-control select2"
                                                    style="width: 100%"
                                                    required
                                                >
                                                    <option selected="selected" disabled>Choose Coin</option>
                                                    <option value="Gold">Gold</option>
                                                    <option value="Diamond">Diamond</option>
                                                    <option value="Jewel">Jewel</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="coinQuantity"
                                                    >Coin Quantity <span class="text-danger">*</span></label
                                                >
                                                <input
                                                    type="number"
                                                    class="form-control"
                                                    name="coinQuantity"
                                                    id="coinQuantity"
                                                    placeholder="coin quantity"
                                                />
                                            </div>
                                            <div class="form-group">
                                                <label for="price">Price <span class="text-danger">*</span></label>
                                                <input
                                                    type="number"
                                                    class="form-control"
                                                    name="price"
                                                    id="price"
                                                    placeholder="price"
                                                />
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

            <%- include ../../partials/footer.ejs %>

            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->

        <%- include ../../partials/js.ejs %>
    </body>
</html>
